:root {
    /* variables */
    --header-height: 3rem;
    --g1: .125rem;
    --g2: .25rem;
    --g3: .5rem;
    --g4: 1rem;
    --g5: 2rem;
    --g6: 3rem;
    --g7: 4rem;
    --g8: 6rem;

    /* main color */
    --cyan: #1DEFFF;

    /* Cyan Color Theme 1 in Hex */
    --cyan-01: #15B4BF;
    --cyan-02: #0E7880;
    --cyan-03: #073C40;
    --cyan-04: #19D8E6;

    /* Cyan Color Theme 2 in Hex */
    --cyan-11: #02A7B3;
    --cyan-12: #FF36B0;
    --cyan-13: #FFDD03;
    --cyan-14: #B39C0B;

    --gradient-cy: linear-gradient(103.22deg, var(--cyan) -13.86%, var(--cyan-13) 99.55%);
    --gradient-my: linear-gradient(103.22deg, var(--cyan-12) -13.86%, var(--cyan-13) 99.55%);
}

body {
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/*.navitem {*/
/*  padding: 3px 10px;*/
/*}*/
/*.navitem.is-active {*/
/*  background-color: #eee;*/
/*}*/